<!DOCTYPE html>
<html>
<head>
    <title>My YouTube Video</title>
</head>
<body>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= videoId %>" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
