<!DOCTYPE html>
<html>
<head>
    <head>
        <title>Video Page</title>
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Your Video Title">
        <meta name="twitter:description" content="A brief description of the video">
        <meta name="twitter:image" content="https://i.ytimg.com/vi/<%= videoId %>/maxresdefault.jpg">
    </head>
</head>
<body>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= videoId %>" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>
